/* Navbar */
.no-caret .dropdown-toggle::after {
    display: none !important;
}

.no-caret .dropdown-menu {
    border: none ;
 font-size: 13px;

}

.dropdown-item{
       border-bottom: 1px solid #dddcdc !important;
       padding-top: 10px !important;
       display: inline-block;
}
.no-caret .dropdown-item:hover{
    background-color: blue ;
    color: white;
}

.nav-link.active{
    color: blue !important; 
}
.nav-link:hover{
    color: blue !important; 
}
.navBtn:hover{
color: blue !important;
}

.navDiv:hover {

  color: #007bff; 
}

.navDiv {
color: black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: 1px solid #dee2e6; 
}


@media (max-width: 660px) {
    .navDiv {
        border: none !important; 
        margin: 2px;             
        background-color: #ececec; 
        width: 45px;             
        height: 45px;
    }
}
/* Hero */

.heroBtn:hover{
    background-color: #007bff !important;
    color: white !important;
}
/* Deal */

.blue-shadow-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent; 
  transition: all 0.4s ease;
  z-index: 1;
}

.dealImg:hover .blue-shadow-overlay {

  background-color: rgba(69, 48, 253, 0.664); 
  
}
.brand-logo {
  max-height: 80px; 
  opacity: 0.5;
  transition: 0.3s;
}

.brand-logo:hover {
  opacity: 1;
}